@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script&display=swap');
body {
	background-color: crimson;
	font-family: 'Bree Serif', serif;
}
h1,h2, p {
	color: orange;
	font-family: sans-serif; 
}
#my-avatar {
	width: 150px;
	border-radius: 10%;
}
#content{
text-align: center;
}
#my-name {
	font-family: 'Dancing Script', cursive;
}
